main{
    .element_msnry{
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 180px;
        width: 100%;
        //background-color: $blue;
        border-radius: 10%;
        @include text($black, 30px, $myFont);
        margin-bottom: 20px;
        box-shadow: 3px 3px 5px 6px #ccc;
        .inner_elem{
            display: flex;
            flex-direction: column;
            min-width: 390px;
            text-align: center;
            min-height: 100px;
            i{
                align-self: flex-end;
                cursor: pointer;
                font-size: 25px;
                color: $red;
            }
        }
    }
    .elem-2{
        height: 400px;
        width: 500px;
    }
    .btn_task{
        @include text($black, 16px, $myFont);
        background-color:#44c767;
        -moz-border-radius:28px;
        -webkit-border-radius:28px;
        border-radius:28px;
        border:1px solid #18ab29;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-family:Arial;
        font-size:17px;
        padding:10px 15px;
        text-decoration:none;
        text-shadow:0px 1px 0px #2f6627;
        outline: none;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        &:hover{
            background-color:#5cbf2a;
        }
    }
    .d-block{
        display: block;
    }
    .d-none{
        display: hidden;
    }
}